<div>
  <div class="loading" v-if="loading">
    Loading...
  </div>

  <div v-if="error" class="error">
    {{ error }}
  </div>

  <div v-if="posts[0]" class="banner" v-bind:style="{ background: 'url(' + posts[0].imageUrl + ')'}">
    <router-link :to="{name: 'post', params: {id: posts[0]._id}}">
      <h1>{{posts[0].title}}</h1>
    </router-link>
  </div>

  <ul class="list">
    <li v-for="post in posts" class="list__item">
      <router-link :to="{name: 'post', params: {id: post._id}}">
        <img v-if="post.imageUrl" v-bind:src="post.imageUrl + '?w=100'" />
        <h2>{{post.title}}</h2>
      </router-link>
    </li>
  </ul>
</div>
