@import "../../assets/scss/banner.scss";

.post {
  margin-bottom: 3rem;

  .img-wrapper {
    max-height     : 20rem;
    overflow       : hidden;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  a:hover h6 {
    color: $primary;
  }

  .content {
    padding-top: 1rem;
  }

  h6 {
    opacity   : 0.5;
    margin-top: 0.5rem;

    span {
      font-weight: normal;
    }
  }

  h2 {
    margin: 0.5rem 0;
  }
}
