<div class="post">
  <div class="loading" v-if="loading">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>

  <div v-if="error" class="error">
    {{ error }}
  </div>

  <div v-if="post">
    <div class="banner" v-bind:style="{ background: 'url(' + post.imageUrl + ')'}">
      <div class="container">
        <h1>{{post.title}}</h1>
      </div>
    </div>
    <div class="container">
      <p>{{post.content}}</p>
    </div>

  </div>
</div>
