@import "~bootstrap/scss/bootstrap";
@import "~aos/dist/aos";

#app {
  color: $primary;
}

a {
  color     : $primary;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color          : $secondary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
@include respond-to(small-down) {
  h1 {
    font-size  : 1.8rem;
    line-height: 2rem;
  }

  h2 {
    font-size  : 1.5rem;
    line-height: 1.8rem;
  }
}

.loading {
  position : fixed;
  top      : 50%;
  left :: 50%;
  transform: translate(-50%,-50%);

  .spinner {
    margin    : 100px auto;
    width     : 50px;
    height    : 40px;
    text-align: center;
    font-size : 10px;
  }

  .spinner > div {
    background-color : $secondary;
    height           : 100%;
    width            : 6px;
    display          : inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation        : sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay        : -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay        : -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay        : -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay        : -0.8s;
  }
  @-webkit-keyframes sk-stretchdelay {
    0%,
    100%,
    40% {
      -webkit-transform: scaleY(0.4);
    }

    20% {
      -webkit-transform: scaleY(1.0);
    }
  }
  @keyframes sk-stretchdelay {
    0%,
    100%,
    40% {
      transform        : scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }

    20% {
      transform        : scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}
@include respond-to(small-down) {
  .order-last {
    order: 1;
  }

  .order-first {
    order: 2;
  }
}
